---
import ArticlePreview from "@/components/article/ArticlePreview.astro";
import Paginator from "@/components/Paginator.astro";
import BaseLayout from "@/layouts/Base.astro";
import { getAllArticles } from "@/utils/data";
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";

export const getStaticPaths = (async ({ paginate }) => {
  const allArticles = await getAllArticles();

  return paginate(allArticles, { pageSize: 5 });
}) satisfies GetStaticPaths;

interface Props {
  page: Page<CollectionEntry<"article">>;
}

const { page } = Astro.props;

const paginationProps = {
  ...(page.url.prev && {
    prevUrl: {
      text: `← Previous Article`,
      url: page.url.prev,
    },
  }),
  ...(page.url.next && {
    nextUrl: {
      text: `Next Article →`,
      url: page.url.next,
    },
  }),
};
---

<BaseLayout
  meta={{
    title: "Articles",
    description: "Have a dip inside what I think and read my articles.",
  }}
>
  <h1>Articles</h1>
  {page.data.map((d) => <ArticlePreview article={d} />)}
  <Paginator {...paginationProps} />
</BaseLayout>

<style lang="scss">
  @import "@/styles/variables.scss";

  h1 {
    font-size: var(--font-xl);
    color: var(--color-yellow);
    margin-bottom: 28px;
  }
</style>
