---
import ArticlePreview from "@/components/article/ArticlePreview.astro";
import BaseLayout from "@/layouts/Base.astro";
import { getAllArticles } from "@/utils/data";
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";

export const getStaticPaths = (async ({ paginate }) => {
  const allArticles = await getAllArticles();

  return paginate(allArticles, { pageSize: 10 });
}) satisfies GetStaticPaths;

interface Props {
  page: Page<CollectionEntry<"article">>;
}

const { page } = Astro.props;
---

<BaseLayout>
  <h1>Articles</h1>
  {page.data.map((d) => <ArticlePreview article={d} />)}
</BaseLayout>

<style lang="scss">
  @import "@/styles/variables.scss";

  h1 {
    font-size: var(--font-xl);
    color: var(--color-yellow);
    margin-bottom: 28px;
  }
</style>
