---
import { CollectionEntry } from "astro:content";

interface Props {
  article: CollectionEntry<"article">;
}

const { article } = Astro.props;
const {} = artyl
---

<section></section>

<style lang="scss"></style>
