@use "utils" as u;
@use "variables";
@import "@fontsource/geist-sans";

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  margin-inline: u.rem(16);
  max-width: var(--container-size);
  min-height: 100vh;
  background-color: var(--bg-gray);
  font-family: "Geist Sans", sans-serif;
  font-size: var(--font-body);
  color: var(--color-gray);

  @media (width > u.em(672)) {
    & {
      margin-block: u.rem(64);
      margin-inline: auto;
    }
  }
}

h1,
h2,
h3 {
  color: var(--color-gray);
  line-height: 1.1;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-size: var(--font-lg);
}

h2 {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

.wrapper {
  padding-inline: u.rem(8);
  @media (width > u.em(672)) {
    padding-inline: 0;
  }
}
