@use "sass:math";
@import "@fontsource/geist-sans";

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Don\'t use units when using the rem() function; only numbers.';
  }
}

@function em($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + em;
  } @else {
    @error 'Don\'t use units when using the em() function; only numbers.';
  }
}

:root {
  --bg-gray: #121212;
  --color-gray: #a4a4a4;
  --color-yellow: #fef08a;
  --font-xl: #{rem(32)};
  --font-lg: #{rem(24)};
  --font-md: #{rem(20)};
  --font-body: #{rem(16)};

  --container-size: #{em(672)};
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  margin-inline: rem(16);
  max-width: var(--container-size);
  min-height: 100vh;
  background-color: var(--bg-gray);
  font-family: "Geist Sans", sans-serif;
  font-size: var(--font-body);
  color: var(--color-gray);

  @media (width > em(672)) {
    & {
      margin-block: rem(64);
      margin-inline: auto;
    }
  }
}

h1,
h2,
h3 {
  color: var(--color-gray);
  line-height: 1.1;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-size: var(--font-lg);
}

h2 {
  text-decoration: underline;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

.wrapper {
  padding-inline: rem(8);
  @media (width > em(672)) {
    padding-inline: 0;
  }
}
