@use "utils" as u;

:root {
  --bg-gray: #121212;
  --color-gray: #a4a4a4;
  --color-yellow: #fef08a;
  --font-xl: #{clamp(1.5rem, 0.8686868686868687rem + 2.6936026936026933vw, 2rem)};
  --font-lg: #{clamp(
      1.25rem,
      0.9343434343434344rem + 1.3468013468013467vw,
      1.5rem
    )};
  --font-body: #{clamp(
      1rem,
      0.8421717171717171rem + 0.6734006734006733vw,
      1.125rem
    )};
  --font-xs: #{u.rem(16)};
  --container-size: #{u.em(672)};
}
