---
import CofeeImg from "@/assets/coffee.svg";
import HeartImg from "@/assets/heart.svg";
import { Image } from "astro:assets";
---

<footer>
  <p class="footer">
    made with
    <a
      href="https://www.facebook.com/chaleahthereseee"
      target="_blank"
      referrerpolicy="no-referrer"
    >
      <Image src={HeartImg} alt="love" class="footer__heart" />
    </a>
    and
    <Image src={CofeeImg} alt="coffee" class="footer__coffee" />
  </p>
</footer>

<style lang="scss">
  footer {
    margin-block: 20px;
    border-top: 2px solid var(--color-gray);
    padding-top: 16px;
  }
  .footer {
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    &__heart {
      width: 18px;
      margin-inline: 4px;
    }

    &__coffee {
      width: 28px;
      margin-inline: 4px;
    }
  }
</style>
