---
import BaseLayout from "@/layouts/Base.astro";
import { getAllArticles, getUniqueTagsWithCount } from "@/utils/data";

const allArticles = await getAllArticles();
const allTags = getUniqueTagsWithCount(allArticles);
---

<!-- TODO: META TAGS -->
<BaseLayout meta={{ title: "tags" }}>
  <h1>tags</h1>

  <div class="tags">
    {
      allTags.map(([tag, count]) => (
        <div class="tags__link-container">
          <span class="tag">
            <a href={`/tags/${tag}`}>#{tag}</a>
          </span>
          - {count} {count > 1 ? "articles" : "article"}
        </div>
      ))
    }
  </div>
</BaseLayout>

<style lang="scss">
  @import "@/styles/variables.scss";

  h1 {
    font-size: var(--font-xl);
    color: var(--color-yellow);
    margin-bottom: 28px;
  }

  .tags {
    &__link-container {
      margin-block-end: 28px;
    }
    .tag {
      border-block-end: 1px solid;
      padding-block-end: 4px;
      transition: border-color 100ms ease-in-out;

      &:hover {
        border-color: var(--color-yellow);
      }
    }
  }
</style>
