---
import FunArrowImg from "@/assets/fun-arrow.svg";
import HeroImg from "@/assets/hero.jpg";
import ArticlePreview from "@/components/article/ArticlePreview.astro";
import BaseLayout from "@/layouts/Base.astro";
import { getAllArticles, sortMDByDate } from "@/utils/data";
import { Image } from "astro:assets";

const MAX_POSTS = 5;
const allArticles = await getAllArticles();
const latestArticles = sortMDByDate(allArticles).slice(0, MAX_POSTS);

console.log(latestArticles);
---

<BaseLayout>
  <section class="hero">
    <div class="hero__heading-container">
      <div class="hero__image-container">
        <Image
          alt="A picture of Joshua Chu in front of his work station."
          fetchpriority="high"
          loading="eager"
          src={HeroImg}
          class="hero__image"
        />
      </div>
      <h1 class="hero__heading">i'm josh</h1>
      <Image
        alt="A funny arrow"
        fetchpriority="high"
        loading="eager"
        src={FunArrowImg}
        class="hero__funny-arrow"
      />
    </div>
    <p class="hero__description">
      i'm passionate about the intersection where technology and
      entrepreneurship meet. I thrive on working with startups or even jump
      start my own ventures, driven by a single mission: leveraging the power of
      technology to spark a positive change in society. If we’re on the same
      boat, <a
        href="https://www.linkedin.com/in/joshuachudev/"
        target="_blank"
        referrerpolicy="no-referrer"
        class="description__cta">hit me up</a
      >.
    </p>
  </section>
  <section class="latest">
    <h2 class="latest__heading">latest Articles:</h2>
    {latestArticles.map((d) => <ArticlePreview article={d} isLatest />)}
  </section>
</BaseLayout>

<style lang="scss">
  @use "@/styles/utils" as u;
  @import "@/styles/styles.scss";

  .hero {
    margin-bottom: 69px;

    &__heading-container {
      position: relative;
      margin-bottom: 32px;
    }
    &__image-container {
      height: 300px;
    }

    &__image {
      height: 100%;
      object-fit: cover;
    }

    &__heading {
      font-weight: bold;
      font-size: var(--font-xl);
      color: var(--color-yellow);
      text-align: center;
      margin-block: 24px;
    }

    &__funny-arrow {
      width: u.rem(100);
      height: auto;

      position: absolute;
      bottom: 16px;
      right: 0%;

      @media (width > u.rem(460)) {
        width: u.rem(150);
      }

      @media (width > u.rem(500)) {
        width: u.rem(170);
      }

      @media (width > u.rem(640)) {
        right: 12%;
      }
    }

    &__.description {
      line-height: 1.5;

      &__cta {
        font-weight: bold;
        color: var(--color-yellow);
      }
    }
  }

  .latest {
    margin-bottom: 64px;
    &__heading {
      text-decoration-color: var(--color-yellow);
      margin-bottom: 28px;
    }
  }
</style>
