---
import AstroHeader from "@/components/article/ArticleHeader.astro";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./Base.astro";

interface Props {
  article: CollectionEntry<"article">;
}

const { article } = Astro.props;
const {
  data: { description, ogImage, publishDate, title, updatedDate },
  slug,
} = article;
const socialImage = `/og-image/${slug}.png`;
const articleDate = updatedDate?.toISOString() ?? publishDate.toISOString();
---

<BaseLayout meta={{ articleDate, description, title, ogImage: socialImage }}>
  <article id="article">
    <div>
      <AstroHeader article={article} />
    </div>
    <slot />
  </article>
</BaseLayout>

<style lang="scss" is:global>
  #article {
    margin-bottom: 64px;
    img {
      width: 100%;
      max-height: 400px;
      object-fit: cover;
    }

    h2,
    h3 {
      margin-block: 32px;
    }
    p {
      margin-block-end: 32px;
    }

    blockquote {
      opacity: 0.8;
      border-left: 4px solid var(--color-gray);
      padding-inline-start: 12px;
    }

    a {
      color: var(--color-yellow);
      text-decoration: underline;
    }

    strong {
      color: white;
    }

    .expressive-code {
      margin-block: 32px;
    }
    code:not(pre > code) {
      display: inline-block;
      background-color: var(--color-gray);
      color: var(--bg-gray);
      line-height: 1.2;
      font-size: 16px;
      letter-spacing: -1px;
      border-radius: var(--radius);
      max-width: 100%;
      font-size: 80%;
      padding: 0.1em 0.25em;
    }
  }
</style>
