---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/layout/Header.astro";
---

<html>
  <head>
    <BaseHead />
  </head>
  <body>
    <Header />
    <main id="main">
      <slot />
    </main>
  </body>
</html>
