---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site-config";

interface Props {
  meta: {
    title: string;
    description?: string;
    ogImage?: string | undefined;
    articleDate?: string | undefined;
  };
}

const {
  meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html>
  <head>
    <BaseHead
      articleDate={articleDate}
      description={description}
      ogImage={ogImage}
      title={title}
    />
  </head>
  <body>
    <Header />
    <main id="main">
      <slot />
    </main>
    <Footer />
    <style>
      #main {
        min-height: 100vh;
      }
    </style>
  </body>
</html>
