---
import Header from "@/components/layout/Header.astro";
---

<html>
  <!-- <head>
    <BaseHead
      articleDate={articleDate}
      description={description}
      ogImage={ogImage}
      title={title}
    />
  </head> -->
  <body>
    <Header />
    <main id="main">
      <slot />
    </main>
  </body>
</html>
